<div class="common">
<app-top-bar></app-top-bar>
</div>
<div class="common">
	<div class="container">
		<div class="common formpd">
			<div class="signupfrmmain">
				<form class="signinform">
					<div class="formpadding">
						<div class="restpwdform">
							<div class="form-group">
								<h4 class="signhedng">Password reset link sent</h4>
								<p class="fgtpwd_txt restpwdtxtmgbtm">Check your email and click the link to continue resetting your password.</p>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>