<div class="common">
<app-top-bar></app-top-bar>
<div class="common">
	<div class="container">
		<div class="common formpd">
			<div class="signupfrmmain">
				<form (submit)="passwordReset($event)" class="signinform">
					<div class="formpadding">
						<div class="text-danger" style="text-align: center;">
							{{Tokenmessage}}</div>
							<div class="text-danger" style="text-align: center;">
								{{message}}</div>
						<h4 class="signhedng">Reset your password</h4>
						<div class="mainsgninform">
							<div class="form-group mgbtmless">
							  <label for="pwd">Password</label>
							  <input type="password" class="form-control pwd inptdesgn" id="password" placeholder="Enter password" name="pswd">
							  <span class="inputValidation">{{ passwordError }}</span>
							</div>
							<div class="form-group mgbtmless">
							  <label for="pwd">Confirm Password</label>
							  <input type="password" class="form-control pwd inptdesgn" id="confirmPassword" placeholder="Enter confirm password" name="pswd">
							  <span class="inputValidation">{{ confirmPasswordError }}</span>
							</div>
							<div class="form-group">
								<input type="submit" class="sgninbtn" name="sgninbtn" value="Submit">
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<ngx-spinner></ngx-spinner>