
<div class="common bgbnnerimg">
	<app-top-bar></app-top-bar>
	<div class="common bannertxt accntsection">
		<div class="container">
			<div class="prfile_postn mnagesubsmain">
				<div class="row">
					<div class="col-md-12">
						<h5 class="wlcme">Welcome, {{ loggedInUserName }}</h5>
					</div>
					<div class="col-md-3">	
						<div class="accntbox minhtaccountinfo" style="margin-bottom: 75px;">
							<div class="accntinfo text-center">
								<p class="accntimg"><img src="assets/images/account.png" alt="Profile image"/></p>
								<h4 class="accntnme">{{ loggedInUserName }}</h4>
								<p class="accntmail"><a href="mailto: {{ loggedInUserEmail }}">{{ loggedInUserEmail }}</a></p>	
							
							</div>
							<div class="accntlist text-center">
								
								<p class="accntlist_innr accnt_active"><a routerLink="/subscriptions">Subscriptions</a></p>
								
								<p class="accntlist_innr accnt_active"><a routerLink="/account">Companies & Stores</a></p>
								<p class="accntlist_innr accnt_active"><a routerLink="/account-settings">Account Settings</a></p>

								<p class="accntlist_innr accnt_active"><a routerLink="/invoices">Invoices</a></p>

								<!-- <p class="accntlist_innr"><a routerLink="/change-password">Password</a></p> -->
								<p class="accntlist_innr"><a routerLink="/notification">Notification</a></p>
                              
							</div>
						</div>
					</div>
					<div class="col-md-9">
						
						<div class="subscptn_tble common accntbox">
							<p class="updtehdng subscrptnspd">Subscriptions</p>
							<div class="table-responsive">
							  <table class="table table-hover mainsubscrptntble" >
								<thead >
								  <tr>
									<th>Product</th>
									<th >Plan</th>
									<th>Licenses</th>
								  </tr>
								</thead>
								<tbody>
								  <tr *ngFor="let product of productData | paginate: { itemsPerPage:10, currentPage: p }" (click)="Select(product.product_id)" class="crsrpntr">
									
									<td class="prdctnme_subscr"><span class="subsc_img"><img src="assets/images/{{product.image}}" alt="Subscription image"/></span>{{product.name}}</td>
									<td>Annual plan, paid monthly - ${{product.total_price}}/mo</td>
									<td>{{product.no_of_licenses}}</td>
							
								</tr>
								
								<tr *ngIf = "showNoRecord" class="nohoverclr"><td style="padding-left:230px;" >No Subscription Found</td>
								</tr>
								</tbody>
							  </table>
							  <div *ngIf = "paginationhide" class="bttmpgination"><pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls></div>
							</div>
							
							<div *ngIf = "!showNoRecord" class="common mnagesubs text-right">
								<p><a class="prdcttrialbtn2 subscptnbtn" routerLink="/manage-subscriptions">Manage Subscriptions</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<ngx-spinner></ngx-spinner>
