<div class="common bgbnnerimg">
    <app-top-bar></app-top-bar>
    <div class="common bannertxt accntsection">
        <div class="container">
            <div class="prfile_postn mnagesubsmain">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="wlcme">Welcome, {{ loggedInUserName }}</h5>
                    </div>
                    <div class="col-md-3">
                        <div class="accntbox minhtaccountinfo" style="margin-bottom: 75px;">
                            <div class="accntinfo text-center">
                                <p class="accntimg"><img src="assets/images/account.png" alt="Profile image" /></p>
                                <h4 class="accntnme">{{ loggedInUserName }}</h4>
                                <p class="accntmail"><a
                                        href="mailto: {{ loggedInUserEmail }}">{{ loggedInUserEmail}}</a></p>
                                <p class="edtprfl"><a href="#">Edit Profile</a></p>
                            </div>
                            <div class="accntlist text-center">
                                <p class="accntlist_innr accnt_active"><a routerLink="/account-settings">Account
                                        Settings</a></p>

                                <p class="accntlist_innr accnt_active"><a routerLink="/account">Companies & Stores</a>
                                </p>
                                <p class="accntlist_innr"><a href="">Password</a></p>
                                <p class="accntlist_innr"><a href="">Notification</a></p>
                                <p class="accntlist_innr"><a href="">Security</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">

                        <div class="subscptn_tble common accntbox">
                            <p class="updtehdng subscrptnspd accntnme" style="text-align:center;margin-top: 30px;">
                                Change Password</p>
                           
                            <div class="add-top-margin">
                                <form (submit)="Submit($event)">
                                    <div class="form-group lbelmglftplus_pwd">
                                        <label for="email">Old Password</label>
                                        <input type="password" class="form-control"
                                            id="oldPassword" placeholder="Enter Old Password" name="email">
                                        <span class="inputValidation">{{OldPassError}}</span>
                                    </div>
                                    <div class="form-group lbelmglftplus_pwd">
                                        <label for="pwd">New Password</label>
                                        <input type="password" class="form-control "
                                            id="Newpassword" placeholder="Enter new  password" name="pswd">
                                        <span class="inputValidation">{{newPassError}}</span>
                                    </div>

                                    <div class="form-group lbelmglftplus_pwd">
                                        <label for="pwd" >Confirm Password</label>
                                        <input type="password" class="form-control"
                                            id="Confirmpassword" placeholder="Enter password" name="pswd">
                                        <span class="inputValidation">{{confirmPassError}}</span>
                                    </div>
                                    <div class="form-group makeDivCentre bttndiv">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" name="sgninbtn" value="Done"
                                                    class="sgninbtn updatePassbtn changepwdbtn">
                                                    <span><i *ngIf="spinner" class="fa fa-spinner fa-spin grnspinnr"
                                                        style="font-size:24px;color: #1CABA0;"></i></span>
                                                        <span><i *ngIf="done" class="fa fa-check grntck" style="font-size:24px;color:#1CABA0;"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>
