<div class="common">
 <app-top-bar></app-top-bar>
</div>
<div class="common">
	<div class="container">
		<div class="common formpd">
			<div class="signupfrmmain">
				<form (submit)="forgotPassword($event)" class="signinform">
					<div class="formpadding">
						<h4 class="signhedng">Forgot Password</h4>
						<p class="fgtpwd_txt">No worries, simply type in the email address assocciated with your account and we will send you a link to reset your password.</p>
						<div class="mainsgninform margnbtm_fgtpwd">
							<div class="form-group">
							  <label for="email">Email Address</label>
							  <input type="text" class="form-control email inptdesgn" id="email" placeholder="Enter email" name="email"/>
							  <span class="inputValidation">{{ emailError }}</span>
							</div>
							<div class="form-group">
								<input type="submit" class="sgninbtn" name="sgninbtn" value="Submit">
							</div>
						</div>
					</div>
					<div class="common sgnupbox_brdr text-center">
						<p class="cancl_fgtpwd"><a routerLink="/signup">Cancel</a></p>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<ngx-spinner></ngx-spinner>