<div class="common bgbnnerimg">
  <app-top-bar></app-top-bar>
  <div class="common bannertxt">
    <div class="container">
      <div class="mnagesubsmain">
        <div class="row">
          <div class="col-md-4">
            <div class="maintxt">
              <p class="maintxt_innr">Let's grow your floral business together. one petal at a time.</p>
              <p class="thetrial"><a id="trialbtn" class="trialbtn" routerLink="/products">Free Trial</a></p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="imgpostn">
              <img src="assets/images/bnnrmob.png" alt="Mobile"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="common rightsectn sectnmg section1">
  <div class="container">
    <div class="rghtrwmg common">
      <div class="row">
        <div class="col-md-4 pdcustm">
          <span class="blnkspce"></span>
          <h3 class="rghthdng hmepgehdngtop">Why Nuflorist may be right for your business.</h3>
        </div>
        <div class="col-md-4 pdcustm">
          <img src="assets/images/01.png" alt="Benefit"/>
          <h3 class="rghthdng">Benefit or Feature</h3>
          <p class="rghtdesc">description of feature and/or benefit value proposition.</p>
        </div>
        <div class="col-md-4 pdcustm">
          <img src="assets/images/02.png" alt="Benefit"/>
          <h3 class="rghthdng">Benefit or Feature</h3>
          <p class="rghtdesc">description of feature and/or benefit value proposition.</p>
        </div>
      </div>
      <div class="mgbtwrows">
        <div class="row">
          <div class="col-md-4 pdcustm">
            <img src="assets/images/03.png" alt="Benefit"/>
            <h3 class="rghthdng">Benefit or Feature</h3>
            <p class="rghtdesc">description of feature and/or benefit value proposition.</p>
          </div>
          <div class="col-md-4 pdcustm">
            <img src="assets/images/04.png" alt="Benefit"/>
            <h3 class="rghthdng">Benefit or Feature</h3>
            <p class="rghtdesc">description of feature and/or benefit value proposition.</p>
          </div>
          <div class="col-md-4 pdcustm">
            <img src="assets/images/05.png" alt="Benefit"/>
            <h3 class="rghthdng">Benefit or Feature</h3>
            <p class="rghtdesc">description of feature and/or benefit value proposition.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about common" id="about">
  <div class="container">
    <div class="displyprop mnagesubsmain">
      <div class="col-md-5 displyprop_midl_wdth">
        <img src="assets/images/about.png" alt="About" class="aboutimg"/>
      </div>
      <div class="col-md-7 pdcustmlft displyprop_midl abuttxtdesc">
        <p class="shrtsubhdng">About Nuflorist</p>
        <p class="maintxt_innr maintxtbordr">Our mission is to help florists businesses grow and thrive.</p>
        <p class="rghtdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>
  </div>
</section>
<section class="common imagtxt homepgeimgtxtsectn">
  <div class="container">
  <div class="common prdctrow_mgbtm">
    <!-- <div class="displyprop">
      <div class="col-md-6 displyprop_midl_wdth2 text-right pdrght55 txtcntr_respn">
        <p class="shrtsubhdng floatrght100"><img src="assets/images/iflorist_logo.png" alt="iflorist_logo"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordr2 floatrght">iflorist</p>
        <p class="rghtdesc floatrght">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common floatrght lrnmore_home"><a href="iflorist.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
      <div class="col-md-6 pdcustmlft0 displyprop_midl imgtxt_imgsectnmain">
        <img src="assets/images/iflorist.png" alt="iflorist" class="aboutimg"/>
      </div>
    </div> -->
    <!--phone_view2-->
    <div class="common phone_view">
    <div class="displyprop imgtxtmgbthsdes">
      <div class="col-md-6 displyprop_midl_wdth2 text-right pdrght55 txtcntr_respn">
        <p class="shrtsubhdng floatrght100"><img src="assets/images/bloomview_logo.png" alt="bloomview_logo"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordr2 floatrght">Bloomview</p>
        <p class="rghtdesc floatrght">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common floatrght lrnmore_home"><a href="bloomview.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
      <div class="col-md-6 pdcustmlft0 displyprop_midl imgtxt_imgsectnmain">
        <img src="assets/images/bloomview.png" alt="bloomview" class="aboutimg"/>
      </div>
    </div>
    </div>
    <!--phone_view ends-->
    <div class="common fullscreenview">
    <div class="displyprop">
      <div class="col-md-6 displyprop_midl_wdth2 pdcustmrght0">
        <img src="assets/images/bloomview.png" alt="bloomview" class="aboutimg"/>
      </div>
      <div class="col-md-6 displyprop_midl text-left pdlft55">
        <p class="shrtsubhdng"><img src="assets/images/bloomview_logo.png" alt="bloomview_logo"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordrwdth">Bloomview</p>
        <p class="rghtdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common lrnmore_home"><a href="bloomview.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
    </div>
    </div>
  </div><!--prdctrow_mgbtm-->
  <!-- <div class="common prdctrow_mgbtm">
    <div class="displyprop">
      <div class="col-md-6 displyprop_midl_wdth2 text-right pdrght55 txtcntr_respn">
        <p class="shrtsubhdng floatrght100"><img src="assets/images/floralbid_logo.png" alt="floralbid_logo"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordr2 floatrght">Floral bid</p>
        <p class="rghtdesc floatrght">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common floatrght lrnmore_home"><a href="floralbid.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
      <div class="col-md-6 pdcustmlft0 displyprop_midl imgtxt_imgsectnmain">
        <img src="assets/images/floralbid.png" alt="floralbid" class="aboutimg"/>
      </div>
    </div>
   
    <div class="common phone_view">
    <div class="displyprop imgtxtmgbthsdes">
      <div class="col-md-6 displyprop_midl_wdth2 text-right pdrght55 txtcntr_respn">
        <p class="shrtsubhdng floatrght100"><img src="assets/images/websites_logo.png" alt="websites_logo"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordr2 floatrght">Websites</p>
        <p class="rghtdesc floatrght">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common floatrght lrnmore_home"><a href="bloomview.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
      <div class="col-md-6 pdcustmlft0 displyprop_midl imgtxt_imgsectnmain">
        <img src="assets/images/websites.png" alt="websites_logo" class="aboutimg"/>
      </div>
    </div>
    </div>
   
    <div class="common fullscreenview">
    <div class="displyprop">
      <div class="col-md-6 displyprop_midl_wdth2 pdcustmrght0">
        <img src="assets/images/websites.png" alt="websites_logo" class="aboutimg"/>
      </div>
      <div class="col-md-6 displyprop_midl text-left pdlft55">
        <p class="shrtsubhdng"><img src="assets/images/websites_logo.png" alt="websites"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordrwdth">Websites</p>
        <p class="rghtdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common lrnmore_home"><a href="websites.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
    </div>
    </div>
  </div> -->
  
  <!--prdctrow_mgbtm-->
  <!-- <div class="common prdctrow_mgbtm">
    <div class="displyprop">
      <div class="col-md-6 displyprop_midl_wdth2 text-right pdrght55 txtcntr_respn">
        <p class="shrtsubhdng floatrght100"><img src="assets/images/POS_logo.png" alt="POS_logo"/></p>
        <p class="maintxt_innr maintxtbordr maintxtbordr2 floatrght">POS</p>
        <p class="rghtdesc floatrght">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        <p class="common floatrght lrnmore_home"><a href="pos.html" class="lrnmorehmebtn">Learn more</a></p>
      </div>
      <div class="col-md-6 pdcustmlft0 displyprop_midl imgtxt_imgsectnmain">
        <img src="assets/images/floralbid.png" alt="POS" class="aboutimg"/>
      </div>
    </div>
  </div> -->
  
  <!--prdctrow_mgbtm-->
  </div>
</section>
<section class="common newslttr">
  <div class="container">
    <div class="displyprop">
      <div class="col-md-6 displyprop_midl_wdth2 pdrght55">
        <p class="maintxt_innr maintxt_innr_news">Get the latest news</p>
        <p class="rghtdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam".</p>
      </div>
      <div class="col-md-6 pdcustmlft0 displyprop_midl">
        <div class="input-group">
          <input type="email" class="form-control newslttrmail" id="mail" name="email">
          <div class="input-group-append">
            <a href="#" class="subscrbebtnlnk"><span class="input-group-text subscrbebtn">Subscribe</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>